<div class="container">
    <h1>Product</h1>
    <div class="row" style="gap: 25px; padding: 30px">
        <div class="card" style="width: 18rem;" *ngFor="
                            let product of products
                            index as i
                        ">
            <!-- <p>{{ i + 1 }}</p> -->

            <img [src]="product.image" class="card-img-top" alt="..." style="max-width: 100%;height: 200px;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.price }}</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
</div>